<div class="w3-top w3-animate-top" style="animation:animatetop 1s;position:fixed;">
    <div class="w3-row w3-padding-small w3-black">
      <div class="w3-col s3">
        <a href="#" class="w3-button w3-block w3-black">主页</a>
      </div>
      <div class="w3-col s3">
        <a routerLink="/about" class="w3-button w3-block w3-black">关于</a>
      </div>
      <div class="w3-dropdown-hover w3-col s3">
        <a class="w3-button w3-black w3-block">那啥</a>
        <div class="w3-dropdown-content w3-bar-block w3-col w3-black">
          <a href="#" class="w3-button w3-block">Link 1</a>
          <a href="#" class="w3-button w3-block">Link 2</a>
          <a href="#" class="w3-button w3-block">Link 3</a>
        </div>
      </div>
      <div class="w3-col s3">
        <a routerLink="/mypage/articleEdit" class="w3-button w3-block w3-black">我的</a>
      </div>
    </div>
  </div>