
<!-- <div [froalaEditor]='options' [(froalaModel)]="editorContent">Hello, Froala!</div>
<button class="w3-button w3-block w3-black w3-margin-top" style="width:10%" (click)="submitTopic()">Submit</button>

<div [froalaView]="editorContent"></div> -->
<div class="w3-sidebar w3-light-grey w3-bar-block" style="width:10%">
    <h3 class="w3-bar-item">仪表盘</h3>
    <a class="w3-bar-item w3-button" (click)="articleDropdownSwitch()"><i class="fa fa-star" style="font-size: 16px;margin-right: 10px;"></i>文章  <i style="padding-left: 21%;" class="fa fa-caret-down"></i></a>
    <div [ngClass]="articleDropdownSwitchindex?'w3-show':'w3-hide'" class="w3-white w3-card">
        <a routerLinkActive="w3-grey" routerLink="/mypage/articleList" [routerLinkActiveOptions]="{exact: true}" class="w3-bar-item w3-button" style="padding-left:35px;white-space: nowrap;"><i class="fa fa-file-text" style="font-size: 16px;margin-right: 10px;"></i>所有文章</a>
        <a routerLinkActive="w3-grey" routerLink="/mypage/articleEdit" [routerLinkActiveOptions]="{exact: true}" class="w3-bar-item w3-button" style="padding-left:35px;white-space: nowrap;"><i class="fa fa-edit" style="font-size: 16px;margin-right: 10px;"></i>撰写文章</a>
      </div>
    <a class="w3-bar-item w3-button" style="white-space: nowrap;"><i class="fa fa-edit" style="font-size: 16px;margin-right: 10px;"></i>文章编辑</a>
    <a class="w3-bar-item w3-button" style="white-space: nowrap;"><i class="fa fa fa-music" style="font-size: 16px;margin-right: 10px;"></i>音乐列表设置</a>
    <p><button class="w3-button w3-block w3-black" routerLink="/home" style="position: absolute;width: 100%;left: 0; bottom: 2%;">返回首页</button></p>
  </div>
  
<div class="w3-cell-row w3-dark-grey" style="height:100%;width:90%;margin-left:10%;position:relative;">
    <router-outlet></router-outlet>
</div>

