
<div class="w3-container"> 
    <label>title</label>
    <input class="w3-input w3-border w3-round w3-margin-bottom" name="title" type="text">
    <quill-editor [(ngModel)]="editorContent"
            [options]="editorOptions"
            (blur)="onEditorBlured($event)"
            (focus)="onEditorFocused($event)"
            (ready)="onEditorCreated($event)"
            (change)="onContentChanged($event)"></quill-editor>
    <button class="w3-button w3-block w3-black w3-margin-top" style="width:10%">Submit</button>
  </div>
  <div class="w3-container">
        <h3>大图样式</h3>
        <div id="app3"></div>
  </div>
  